<h1>Stupid Coaching</h1>
<p>Find me in app/views/pages/ask.html.erb</p>
<form action="/answer" method="get">
  <label>Ask your Coach</label>
  <input type="text" name="user_input" placeholder="What do you want to ask?">
  <input type="submit" value="Ask!">
</form>
