// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  font: Arial Verdana;
  color: grey;
  font-weight: bold;
}

h4 {
  font: Arial Verdana;
  color: grey;
  font-size: 25px;
  font-weight: lighter;
}
